<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}"> <!--connects html to main.css in flask-->
    <script src="app.js"></script>
    <title>{% block title%}{% endblock %}- Code Nation</title>
</head>
<body>
    <nav>
    <div>
        <a href="/"> Home</a>
        <a href="/faq"> Faq</a>
        <a href="/about">About Us</a>
        <a href="/courses">Courses</a>
        <a href="/contact"> Contact</a>
    </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>