{% extends 'base.html' %}
{%block title %}
Ibrahim
{% endblock %}
{%block content %}
    <body>
        <h2>My favourite drink is... {{favourite_drink}}!</h2>
        <h1 class="home_title">Mohammed Ibrahim's Webpage</h1>
        <h2><code><a href="#bottom">Work in Progress</a></code></h2>
    <br>
        <!-- <img class="profile" src="placeholder_profile.png" alt="profile_picture" width=15%> -->
        <h2>Introduction</h2>
        <div class="p_text">
            <div class="violet">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda numquam hic alias voluptatum enim libero non incidunt, amet rem! Facilis?</p>
                <p>Quisquam sapiente maxime numquam voluptatem, maiores porro tempora asperiores molestiae consequuntur cum aliquid! Amet expedita minus veniam illo suscipit libero, quae, nam mollitia deserunt ducimus laboriosam.</p>
            </div>      
    <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse similique quas recusandae accusantium provident velit voluptatum, magnam exercitationem! Praesentium consequatur corrupti quos laboriosam? Totam corporis veritatis sequi earum qui commodi officiis, aliquam, harum eligendi, adipisci maxime ipsam dolores laudantium natus quidem. Veniam doloremque molestiae inventore mollitia ut, atque quas ducimus porro maxime deserunt odit id, dolores quos necessitatibus?</p>
            <p>Itaque molestiae eos impedit recusandae debitis illum doloribus molestias quae veritatis, architecto, voluptatem quia, ducimus repudiandae commodi sed et quibusdam aliquam officia harum! Eum fugit deleniti maiores ipsum. Saepe culpa iure adipisci illum asperiores provident aspernatur est quas tempora sapiente, corrupti expedita!</p>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus iure blanditiis saepe, voluptate dolorem deserunt cum ducimus laboriosam voluptas ex, excepturi possimus accusantium, amet dignissimos quod vel id. Eveniet doloremque ea porro omnis est autem impedit ab magnam tempore alias asperiores quidem similique voluptatibus, accusantium nemo. Culpa, doloribus nemo?<a href="about.html"> Fugiat!</P></a>
        </div>
        <marquee width="1.25%" direction="right" height="50px">
        <a href="https://natethesnake.com/"target="_blank">Snake</a></marquee>
    <br>
        <audio controls autoplay muted>
        <source src="tired.mp3" type="audio/mpeg"></audio>
    <br>
        <p id=bottom class=large><u><i>> You've reached the bottom</i></u></p>
        <div id="manga"><a href="manga.html" target="_blank">My Manga Site</a></div>
        <p>Return to<a href="#top"> top</a></p>

    </body>
    </html>

{% endblock %}