{% extends 'base.html' %}

{%block title %}Contact{% endblock %}

{%block content %}

<header><h1>Contact Me</h1></header>

<button onclick="darkMode()" class="dark-mode-button">DARK MODE</button>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quae corporis. Architecto debitis numquam ipsa eius reiciendis? Quaerat sed rerum incidunt, similique odio aliquid. Dolorem aliquam veniam sapiente reiciendis nobis! Enim explicabo velit itaque eum repudiandae, dolore error, pariatur totam ipsum ullam, eaque sit temporibus suscipit. Repudiandae cupiditate vitae reprehenderit.</p>

{% endblock %}