{% extends 'base.html' %}

{%block title %}Projects{% endblock %}

{%block content %}

</header><h1>Projects</h1></header>

<button onclick="darkMode()" class="dark-mode-button">DARK MODE</button>
<br><br>

<div class="left-text">

    <h2 id="change-colour" class="left-text">Python</h2>
    <ul>
        <li class="pink-colour">Noughts and Crosses</li>
        <li class="pink-colour">Ping Pong</li>
        <li class="pink-colour">Snake Game</li>
    </ul>
<br>

    <h2 id="change-colour" class="left-text">HTML & CSS</h2>
    <ul>
        <li class="pink-colour">Example 1</li>
        <li class="pink-colour">Example 2</li>
        <li class="pink-colour">Example 3</li>
    </ul>
<br>

    <h2 id="change-colour" class="left-text">JavaScript</h2>
    <ul>
        <li class="pink-colour">Example 1</li>
        <li class="pink-colour">Example 2</li>
        <li class="pink-colour">Example 3</li>
    </ul>
</div>

{% endblock %}